#bg-img {
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1; /* 全部要素の後ろに配置 */
}

header {
    display: flex; 
    justify-content: center; 
    align-items: center; /* 垂直中央配置 */
    padding: 10px 20px; /* 上下10px、左右20px余白 */
    background-color: rgba(0, 0, 0, 0.644); /* 黒背景 */
    border-bottom: 2px solid black; /* 黒い線追加 */
    color: white; 
}

/* ヘッダータイトル */
.header-content {
    font-size: 24px; 
    text-align: center; 
    color: white; 
}

/* ヘッダー　ボタン */
nav {
    display: flex; 
    margin-left: auto; /* 右側に配置 */
}

button {
    border-radius: 8px; 
    margin-left: 15px; 
    padding: 9px 15px; 
    background-color: #444; 
    color: white; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; /* 背景色変化アニメーション */
}

button:hover {
    background-color: #666; 
}

/* メインコンテンツ */
main {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: calc(100vh - 160px); /* ヘッダーフッター以外の高さ*/
    padding: 20px; 
}

/* フォームコンテナ */
.form-container {
    width: 60%; 
    background-color: rgba(0, 0, 0, 0.644); 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; 
    color: white;
}

/* 要素 */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block; /* ブロック要素として表示 */
    margin-bottom: 5px; 
    color: white; 
    text-align: left; 
}

.form-group input, .form-group textarea {
    width: 50%; /* 入力幅は容器の50% */
    padding: 8px; 
    border-radius: 4px; 
    border: 1px solid #000000; 
    margin: 0 auto; 
}

/* ファイル選択のラベルのスタイル */
.form-group input[type="file"] + label {
    color: white; 
}

/* 記事編集 */
.form-title {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

/* ボタン */
.form-buttons {
    display: flex; 
    justify-content: center;
    gap: 15px; 
    margin-top: 20px;
}

/* 削除ボタンル */
.register-section-details_flex .register {
    padding: 10px 20px; 
    border-radius: 8px; 
    border: none; 
    cursor: pointer; 
    background-color: #444; 
    color: white; 
}

.register-section-details_flex .register:hover {
    background-color: #666; 
}

footer {
    text-align: center;
    padding: 10px; 
    background-color: rgba(0, 0, 0, 0.644); 
    color: white; 
}
