/* 背景画像全画面表示 */
#bg-img {
    position: fixed; /* 位置を固定 */
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: -1; /* 全てコンテンツ背面に表示 */
}

header {
    display: flex; 
    justify-content: space-between; /* 左右に配置 */
    align-items: center; /* 垂直方向中央揃え */
    padding: 10px 20px; /* 上下10px 左右20px内側余白 */
    background-color: rgba(0, 0, 0, 0.644); /* 背景色 */
    border-bottom: 2px solid black; /* 区切り線 */
    color: white; 
}

/* 中央タイトル */
.header-content {
    font-size: 24px; 
    text-align: center; 
    flex: 1;
}

/* 右側ボタン */
nav {
    display: flex;
    justify-content: flex-end; /* ボタンを右端に配置 */
    flex: 1; /* ナビゲーションエリアを右側に拡張 */
}

nav button {
    border-radius: 8px; /* 角丸 */
    margin-left: 15px; /* 左側余白 */
    padding: 9px 15px; /* 内側余白 */
    background-color: #444; /* 背景色 */
    color: white; /* テキスト白 */
    border: none; /* ボーダー非表示 */
    cursor: pointer; /* カーソル手に変わる */
}

nav button:hover {
    background-color: #666; /* ホバー時の色変更 */
}

/* フォームコンテナ */
.form-container {
    width: 65%; /* 幅ページの65% */
    margin: 20px auto; /* 上下余白、左右自動中央揃え */
    padding: 20px; /* 内側余白 */
    background-color: rgba(0, 0, 0, 0.644); /* 背景色 */
    border-radius: 8px; /* 角を8pxの半径で丸める */
    color: white; 
    display: flex; 
    flex-direction: column; /* 子要素縦に並べる */
    align-items: center; /* 中央揃え */
}

/* フォームグループ */
.form-group {
    width: 100%; 
    max-width: 400px; /* 幅400px制限 */
    margin-bottom: 15px; /* 下側余白 */
}

/* 入力フィールド */
label {
    display: block; /* ブロックレベル要素として表示 */
    margin-bottom: 5px; /* 下側に5pxの余白を設定 */
    font-size: 18px; /* フォントサイズを18pxに設定 */
}

/* テキスト入力　ファイル選択　テキストエリア */
input[type="text"], input[type="file"], textarea {
    width: 100%; 
    max-width: 100%;
    padding: 10px; /* 内側余白 */
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px;
}

textarea {
    resize: vertical; /* 垂直方向サイズ変更可能 */
}

/* ボタン */
.form-buttons {
    display: flex; 
    justify-content: space-between; /* 左右に配置 */
    width: 100%; 
    max-width: 400px; 
}

button {
    border-radius: 8px;
    padding: 10px 20px; 
    background-color: #444; 
    color: white; 
    border: none; /* ボーダー非表示 */
    cursor: pointer; /* カーソルが手に変わる */
}

button:hover {
    background-color: #666; 
}

footer {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    padding: 10px 0; 
    background-color: rgba(0, 0, 0, 0.644); 
    border-top: 2px solid black;
    text-align: center; /* 中央揃え */
    color: white; 
}

.footer-content {
    font-size: 18px; 
}

/* 通信窓口 */
.modal {
    display: none;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50
