/* 设置全屏铺放背景图片 */
body {
    margin: 0;
    padding: 0;
    background-image: url('大海.jpeg');
    background-size: cover; /* 确保背景图像覆盖整个页面 */
}

/* 页眉部分 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* 上下内边距，左右20px */
    background-color: rgba(0, 0, 0, 0.644); /* 半透明背景色 */
    border-bottom: 2px solid black; /* 下边框作为分割线 */
    color: white; /* 文本颜色为白色 */
}

.username {
    font-size: 18px;
}

.header-content {
    font-size: 24px; /* 标题字体大小 */
    text-align: center;
    flex: 1; /* 使标题居中显示 */
}

/* 右侧的按钮 */
nav {
    display: flex;
    justify-content: flex-end;
    flex: 1; /* 使导航按钮占用右侧区域 */
}

nav button {
    border-radius: 8px; /* 按钮圆角 */
    margin-left: 15px; /* 按钮间距 */
    padding: 9px 15px; /* 内边距 */
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer; /* 鼠标悬停手型 */
}

nav button:hover {
    background-color: #666; /* 悬停时背景颜色变亮 */
}

/* 页脚部分 */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0; /* 上下内边距，左右无内边距 */
    background-color: rgba(0, 0, 0, 0.644); /* 半透明背景色 */
    border-top: 2px solid black; /* 上边框作为分割线 */
    text-align: center; /* 文本居中 */
    color: white; /* 文本颜色为白色 */
}

.footer-content {
    font-size: 18px; /* 设置字体大小 */
}
