<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog Edit</title>
	<link rel="stylesheet" th:href="@{/blogEdit.css}"> <!-- ThymeleafでのCSSファイルリンク -->
</head>

<body>
	<!-- 背景画像 -->
	<img th:src="@{/大海.jpeg}" id="bg-img" alt="background">

	<header>
		<div class="header-content">Blog Edit</div><!-- ページタイトルを表示 -->
		<nav>
			<!-- Homeボタン、クリックでブログリストに移動 -->
			<button onclick="location.href='/blog/list'">Home</button>
			<!-- Blog Registerボタン、クリックで新規記事登録ページに移動 -->
			<button onclick="location.href='/blog/register'">Blog Register</button>
			<!-- Logoutボタン、クリックでログアウト -->
			<button onclick="location.href='/account/logout'">Logout</button>
		</nav>
	</header>

	<main>
		<section class="form-container">
			<!-- ブログ編集フォーム、POSTメソッドで送信 -->
			<form id="edit-form" th:action="@{/blog/edit/process}" method="post" enctype="multipart/form-data">
				<h1>記事編集</h1>
				<div class="form-group">
					<!-- タイトル入力欄 -->
					<label for="title">タイトル:</label>
					<input type="text" id="title" name="blogTitle" th:value="${blog.blogTitle}" required>
				</div>

				<div class="form-group">
					<!-- カテゴリ入力欄 -->
					<label for="category">カテゴリ:</label>
					<!-- カテゴリ入力欄 -->
					<input type="text" id="category" name="categoryName" th:value="${blog.categoryName}" required>
				</div>

				<div class="form-group">
					<!-- 画像選択 -->
					<label for="image">画像:</label>
					<input type="file" id="image" name="blogImage">
				</div>

				<div class="form-group">
					<!-- 記事内容 テキストエリア-->
					<label for="details">詳細:</label>
					<textarea id="details" name="article" th:text="${blog.article}" rows="10"></textarea>
				</div>

				<div class="form-buttons">
					<input type="hidden" name="blogId" th:value="${blog.blogId}">
					<!-- 保存ボタン -->
					<button type="submit">保存</button>
					<!-- 戻るボタン -->
					<button type="button" onclick="history.back();">戻る</button>
				</div>
			</form>
			<!-- 削除ボタン、フォーム送信で削除処理 -->
			<form th:action="@{/blog/delete}" method="post">
				<div class="register-section-details_flex">
					<input type="hidden" name="blogId" th:value="${blog.blogId}">
					<button class="register">削除</button>
				</div>
			</form>
		</section>
	</main>

	<footer>
		<p>Copyright©2024 Tetsu Blog. All rights reserved.</p>
	</footer>
</body>

</html>