<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog List</title>
	<link rel="stylesheet" th:href="@{/blogList.css}">
</head>

<body>
	<header>
		<div class="username">
			<span id="username-display" th:text="${accountName}">Username</span>、ようこそ。
		</div>
		<div class="header-content">Blog List</div>
		<nav>
				<button onclick="location.href='/blog/list'">Home</button>
				<button onclick="location.href='/blog/register'">Blog Register</button>
				<button onclick="location.href='/account/logout'">Logout</button>
			</nav>
		</nav>
	</header>

	<main>
		<section class="blog-list">
			<div class="blog-item" th:each="blog:${blogList}">
				<a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
					<h2 th:text="${blog.blogTitle}"></h2>
					<img th:src="@{/blog-img/{imagePath}(imagePath=${blog.blogImage})}" alt="">
			</div>
		</section>
	</main>

	<footer>
		<p>Copyright©2024 Tetsu Blog. All rights reserved.</p>
	</footer>
</body>

</html>