<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog Register</title>
	<!-- Thymeleafを使用しCSSファイルをリンク -->
	<link rel="stylesheet" th:href="@{/blogRegister.css}">
</head>

<body>
	<!-- 背景画像 -->
	<img th:src="@{/大海.jpeg}" id="bg-img" alt="background">
	<header>
		<div class="header-content">Blog Edit</div>
		<nav>
			<!-- Homeボタン -->
			<button onclick="location.href='/blog/list'">Home</button>
			<!-- Blog Registerボタン-->
			<button onclick="location.href='/blog/register'">Blog Register</button>
			<!-- Logoutボタン -->
			<button onclick="location.href='/account/logout'">Logout</button>
		</nav>
	</header>

	<!-- メインコンテンツ部分 -->
	<main>
		<!-- フォームコンテナ -->
		<section class="form-container">
			<!-- Thymeleafを使ってフォーム送信 -->
			<form th:action="@{/blog/register/process}" method="post" enctype="multipart/form-data">
				<h1>新規記事追加</h1>
				<!-- タイトル入力 -->
				<div class="form-group">
					<label for="title">タイトル:</label>
					<input type="text" id="title" name="title" required>
				</div>
				<!-- カテゴリ入力 -->
				<div class="form-group">
					<label for="category">カテゴリ:</label>
					<input type="text" id="category" name="category" required>
				</div>
				<!-- 画像アップロード -->
				<div class="form-group">
					<label for="image">画像:</label>
					<input type="file" id="image" name="image" required>
				</div>
				<!-- 詳細入力 -->
				<div class="form-group">
					<label for="details">詳細:</label>
					<textarea id="details" name="details" rows="10"></textarea>
				</div>
				<!-- 登録と戻る -->
				<div class="form-buttons">
					<button type="submit">登録</button>
					<button type="button" onclick="history.back();">戻る</button>
				</div>
			</form>
		</section>
	</main>

	<footer>
		<p>Copyright©2024 Tetsu Blog. All rights reserved.</p>
	</footer>

	<div id="modal" class="modal">
		<div class="modal-content">
			<span class="modal-message">記事登録しました。</span>
			<!-- 記事一覧に戻るボタン -->
			<button onclick="location.href='blogList.html'">記事一覧に戻る</button>
		</div>
	</div>

	<!-- JavaScript -->
	<script>
		// モーダルダイアログを表示する関数
		function showModal(event) {
			// フォーム送信によるページリフレッシュを防止
			event.preventDefault();
			// モーダルダイアログを表示
			document.getElementById('modal').style.display = 'block';
		}
	</script>
</body>

</html>
