<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" th:href="@{/login.css}"> <!--thymealfで外部連携-->
</head>

<body>
	<video id="bg-video" autoplay muted loop th:src="@{/流水.mp4}"> <!-- 背景ビデオ繰り返し再生　音声なし -->
		<source type="video/mp4">
	</video>>
	<section class="form-contents">
		<form class="login-form" th:action="@{/account/login/process}" method="post"> <!-- フォームの送信先URLとPOSTメソッド -->
			<h2>Login</h2> 
			<div> <class="control-group"> <!-- ユーザー名入力 -->
				<label class="login-field-icon" for="login-name">Username</label> 
				<input type="text" class="login-field" placeholder="username" id="login-name" name="name">
			</div>
			
			<div class="control-group"> <!-- パスワード入力 -->
				<label class="login-field-icon" for="login-pass">Password</label> 
				<input type="password" class="login-field" placeholder="password" id="login-pass" name="pass">
				
			</div>
			<div class="control-group control-position"> <!-- ログインボタン -->
				<button type="submit" class="btn">Login</button> 
			</div>
			<div class="control-group control-position"> <!-- 新規アカウント作成 -->
				<a class="login-link" th:href="@{/account/register}">Create a new account</a> <!-- アカウントページ -->
			</div>
		</form>
	</section>
</body>

</html>